:root{
    --BlueDark: #2c2bf9;
    --Blue: #254bee;
    --BlueLight: #225ff1;
    --Yellow: #ddd944;
    --Purple: #333365;
    --Red: #e23631;
    --Brown: #6e3333;
    --Beige: #c9c8a4;
    --Orange: #e1a255;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    color: white;
}

body{ background-color: var(--Purple);}

footer{background-color: var(--BlueDark);text-align: center;}

/* NAV */

#NavBar{
    position: fixed;
    width: 100%;
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 1000;

    animation: cambiarFondo linear both;
    animation-timeline: scroll(root);
    animation-range: 0% 50%;
}

#Logo{
    padding: 0.5rem;
}

#NavBarMenu{
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.NavBarLink{
    padding: 1.5rem;
}

#ShoppingCart{
    width: 4rem;
    border: none;
    background: transparent;
}

.NavBarLink:hover,#ShoppingCart:hover{
    background-color: #ffffff11;
}

/* NAV */

/* HEADER */

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Banner{width: 100%;}

#YellowText{
    position: absolute;
    font-size: large;
    font-weight: 600;
    color: var(--Yellow);
    text-shadow: 0px 3px 0px rgb(86, 86, 0);

    animation: YellowText;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes YellowText {
  0% {
    transform: translateX(150px) 
                translateY(100px)
                rotateZ(-5deg);
  }
  100% {
    transform: translateX(150px) 
                translateY(100px)
                rotateZ(-5deg)
                scale(1.1);
  }
}

@keyframes cambiarFondo {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--BlueDark);
  }
}